
* {
  font-family: Noto Sans, sans-serif;
}
body {
  background-color: black;
  color:white;
}

a:visited {
  color:white;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 90%;
  padding: 5% 0 5% 5%;
  text-align: center;
}
li {
  list-style: none;
  color: black;
  text-decoration: none;
}
a {
  text-decoration: none;
}
.home-header {
  text-align: center;
  background-image: url('./img/background.jpg');
  height: 100%;
  padding:10%;
  background-color: !important;
}

.app-header {
  margin-top: 5%;
  text-align: center;
}
.home-header > *{
  background-color: transparent;
  color: lightgray;
}



